# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

package-lock.json

# Our dist directory for app builds
dist/

# Our project-level picoDeployConfig.json, since it is being replaced with copyConfig
picoDeployConfig.json

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*

.idea/
.sourcemaps/
.sass-cache/
.tmp/
.versions/
coverage/
node_modules/
tmp/
temp/
hooks/
platforms/
plugins/
plugins/android.json
plugins/ios.json
www/
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
