picosplash {
  .picosplash__container {
    position: fixed;
    width: 100%;
    height: 100%;

    background-color: white;
    z-index: 2147483647;
    text-align: center;
  }

  .picosplash__image {
    height: 100%;
    width: auto;

    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}
