
// Define some nice variables for our UI
$dpadSize: 30vw;
$buttonSize: 17vw;
$settingsSize: 7vw;

gamepad {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;

  z-index: 1;
  opacity: 0.5;

  @include smq__not-mobile {
    display: none;
  }

  .pauseBtn {
    position: absolute;
    top: 0;
    left: 0;

    width: $settingsSize;
    height: auto;
  }

  .settingsBtn {
    position: absolute;
    top: 0;
    right: 0;

    width: $settingsSize;
    height: auto;
  }

  .dpad {
    position: absolute;
    bottom: 0;
    left: 0;

    width: $dpadSize;
    height: auto;
  }

  .squareBtn {
    position: absolute;
    bottom: 0;
    right: calc(#{$buttonSize} + 1vw);

    width: $buttonSize;
    height: auto;
  }

  .crossBtn {
    position: absolute;
    bottom: 0;
    right: 0;

    width: $buttonSize;
    height: auto;
  }
}
