<!-- Generated template for the GamepadComponent component -->
<div>
  {{currentTouch}}

  <!-- Settings Button -->
  <img class="settings" id="settingsBtn" src="assets/gamepad/materialGear.svg">

  <!-- DPad -->
  <img class="dpad" id="dpad" src="assets/gamepad/materialDpad.svg">

  <!-- Square Button -->
  <img class="squareBtn" id="squareBtn" src="assets/gamepad/materialButton.svg">

  <!-- Cross Button -->
  <img class="crossBtn" id="crossBtn" src="assets/gamepad/materialButton.svg">
</div>
