gamepad {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;

  z-index: 1;

  @include smq__not-mobile {
    display: none;
  }

  .dpad {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 25vw;
    height: auto;
  }
}
