<!-- Generated template for the GamepadComponent component -->
<div [hidden]="!showVirtualGamepad">
  <div class="current-touch">
    {{currentTouch}}
  </div>

  <!-- Pause Button -->
  <img class="pauseBtn" id="pauseBtn" src="assets/gamepad/materialPause.svg">

  <!-- Settings Button -->
  <img class="settingsBtn" id="settingsBtn" src="assets/gamepad/materialGear.svg">

  <!-- DPad -->
  <img class="dpad" id="dpad" src="assets/gamepad/materialDpad.svg">

  <!-- Square Button -->
  <img class="squareBtn" id="squareBtn" src="assets/gamepad/materialButton.svg">

  <!-- Cross Button -->
  <img class="crossBtn" id="crossBtn" src="assets/gamepad/materialButton.svg">
</div>
